<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>Repository jurnal</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">

</head>

<body>
    <nav class="navbar navbar-expand-lg bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" th:href="@{/jurnal}">DTS</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav " >
            <li class="nav-item" >
                <a style="color: white;"  class="nav-link active" aria-current="page" th:href="@{/jurnal}" >Home</a>
            </li>
            <li class="nav-item">
                <a style="color: white;"  class="nav-link" th:href="@{/jurnal}">Jurnal Status</a>
            </li>
            <li class="nav-item">
                <a style="color: white;"  class="nav-link" th:href="@{/jurnal/status}">Jurnal Approve</a>
            </li>
            <li class="nav-item">
                <a style="color: white;"  class="nav-link" th:href="@{/jurnal/addjurnal}">Add Jurnal</a>
            </li>
        </ul>
        </div>
        </div>
    </nav>
    <section class="container mt-5">
        
        <div class="d-flex justify-content-between align-items-center">
            <h1 class="fw-bold mb-3">List Jurnal</h1>
        </div>
        <table id="table-jurnal-add" class="table table-bordered ">
            <thead class="table-dark">
                <tr>
                    <th class="col-1">No</th>
                    <th class="col-2">Judul</th>
                    <th class="col-1">Terbit</th>
                    <th class="col-1">Jurusan</th>
                    <th class="col-1">Prodi</th>
                    <th class="col-2">Penulis</th>
                    <th class="col-1">Universitas</th>
                    <th class="col-1">Action</th>
                    
                </tr>
            </thead>
        </table>
    </section>

    <!-- Start Modal Detail -->
    <div class="modal fade" id="detailJurnalStatus" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail jurnal</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3 hidden id="detail-id">id</h3>
                    <h1 id="detail-judul">judul</h1>
                    <h4 id="detail-penulis">Penulis</h4>
                    <p id="detail-jurusan">jurusan</p>
                    <p id="detail-universitas">Universitas</p>
                    <p id="detail-status">status</p>
                    <p id="detail-prodi">prodi</p> <p id="detail-tanggal">Terbit</p>
                    <p class="" id="detail-abstrak">Abstak</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Ok</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End Modal Detail -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>

    <script type="text/javascript" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js">
    </script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:src="@{/js/jurnalapprove.js}"></script>


</body>

</html>