<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
    .card {
        position: relative;
        text-align: center;
        color: black;
    }
    body{
        margin: 0;
        padding: 0;
    }
    img{
        width: 500px;
        opacity: 0.8;
    }
    .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
</style>

</head>
<body>
    <div class="card">
        <img src="https://img.freepik.com/free-vector/colorful-futuristic-background-with-shiny-particles_52683-42650.jpg?w=900&t=st=1664637726~exp=1664638326~hmac=cb2ad63793e1334e3c74ad13f64d1af7bc0691bb517c458f64b2bf4bc4b5df37">
        <div class="center">
        <h1> MVP REGULAR SEASON</h1>
        <h2 data-th-text="${mailtext}" ></h2>
        <p>You have become MVP Regular Season of "MPL INDONESIA". Owner has full rights to all Diamonds and Content</p>
        <p>You can see all access diamonds and lists of all mvp players in the regular season 2022 at <a href="https://id-mpl.com/statistics">https://id-mpl.com/statistics</a></p>
        <p>Read more about organization permissions at <a href="https://id-mpl.com/s9">https://id-mpl.com/s9</a></p>
        </div>
    </div>
    
</body>
</html>